#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  background-color: white;
  overflow-y: auto;
  border: 1px solid red;
}

.app-body {
  background-color: rgb(255, 255, 255);
}

.app-header {
  height: 5vh;
  background-color: green;
}

.invoice-cell {
  border: 1px solid black;
  padding: 10px;
  width: fit-content;
  /* center the invoice-cell */
  margin: 0 auto;
}

.invoice-cell input {
  width: 100px;
  text-align: center;
  margin: 0 10px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.invoice-cell input:focus {
  outline: none;
}

.login-component {
  margin-bottom: 10px;
}

#payment-record {
  border: 1px solid black;
  padding: 10px;
  width: fit-content;
  /* center the payment-record */
  margin: 0 auto;
}