#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  background-color: white;
  overflow-y: auto;
  border: 2px solid black;
}

.app-body {
  background-color: rgb(255, 255, 255);
}

.app-header {
  height: 4vh;
  background-color: green;
  text-align: right;
  padding-right: 10px;
  padding-top: 5px;
  font-size: 1.2rem;
}

.invoices {
  display: grid;
  grid-template-columns: repeat(4, 10fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.invoice-cell {
  border: 1px solid black;
  padding:5px;
  width: fit-content;
  /* center the invoice-cell */
  margin: 0 auto;
}

.invoice-cell button {
  margin-top: 5px;
  margin-right: 5px;
}

.invoice-cell input {
  width: 100px;
  text-align: center;
  margin: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.invoice-cell input:focus {
  outline: none;
}

.login-component {
  margin-bottom: 10px;
}

#payment-record {
  border: 1px solid black;
  padding: 10px;
  width: fit-content;
  /* center the payment-record */
  margin: 0 auto;
}