#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  background-color: black;
}

.app-body {
  background-color: rgb(252, 0, 0);
}

.app-header {
  height: 5vh;
  background-color: green;
}